.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.nav {
  display: flex;
  align-items: center;
}

.red {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: tomato;
}

.check, .rem {
  margin-left: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.isDone{
  text-decoration: line-through;
}