.wrapper {
  display: flex;
  flex-direction: row;
}

.label {
  display: block;
}

button[class]{
  margin-top: 15px;
  margin-left: 30px;
}
.wrapper-for-input{
display: block;
margin: 1rem;
}
/* .wrapper>* {
  flex: 1;
} */

.title {
  font-weight: bold;
}

.prop{
  display: block;
  font-size: 0.7rem;
  color: red;
  text-transform: capitalize;
}

.characters li {
  cursor: pointer;
}